<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<script src="/js/vue.js"></script>
<script type="text/javascript">
	
    document.onreadystatechange = function () {
        if (document.readyState === 'interactive') {
            initApplication();
        }
    }

    function initApplication () {
        /*<![CDATA[*/
        var app = new Vue({
            el: '#app',
            data: {
				message: 'hello',
				description: 'world!'
            }
        })
        /*]]>*/
    }
        
</script>
<body>
	hello, world!
	<div id="app">
		<div>{{message}}</div>
      	<h1>{{description}}</h1>
	</div>
</body>
</html>